/*@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');*/

:root {
  --bg: #5f4b8b;
  --fg: #ffffff;
  --secondaryFg: #b3b3b3;
  --containerBg: #272727cf;
  --searchBg: var(--containerBg);
  --scrollbarColor: #3f3f3f;
  --fontFamily: 'Roboto Mono', monospace;
  --cornerRad: 3px;
}

body {
  margin: 0px;
}

.container {
  background: url(bg.jpg) var(--bg) no-repeat center/cover;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#clock {
  font-size: 3.5rem;
  font-weight: 600;
  font-family: var(--fontFamily);
  color: var(--containerBg);
/*  border-radius: var(--cornerRad);
  background-color: var(--containerBg);*/
  margin-bottom: 0.25em;
}

.weather-container {
  width: 30%;
  background-color: var(--containerBg);
  padding: 1em;
  border-radius: var(--cornerRad);
  font-family: var(--fontFamily);
  color: var(--fg);
  text-align: center;
}
.inline {
  display: inline-block;
}

#bookmark-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 70%;
  margin: 1em 0em;
}

@media only screen and (max-width: 960px) {
  .container {
    height: auto;
  }
  #clock {
    margin-top: 1em;
    margin-bottom: 0.25em;
  }
  .container > .bookmark-container {
    flex-direction: column;
    width: 60%;
  }
  .bookmark-container > .bookmark-set {
    width: auto;
    margin: 1em 0em;
  }
}

.bookmark-set {
  padding: 1em;
  background-color: var(--containerBg);
  border-radius: var(--cornerRad);
  font-family: var(--fontFamily);
  font-size: 0.85rem;
  width: 19%;
  height: 20em;
  margin: 0em 0.5em;
  box-sizing: border-box;
}

.bookmark-inner-container {
  overflow-y: scroll;
  height: 80%;
  vertical-align: top;
  padding-right: 6px;
  box-sizing: border-box;

  scrollbar-width: thin;
  scrollbar-color: var(--scrollbarColor) #ffffff00;
}

.bookmark-inner-container::-webkit-scrollbar {
  width: 6px;
}
.bookmark-inner-container::-webkit-scrollbar-track {
  background: #ffffff00;
}
.bookmark-inner-container::-webkit-scrollbar-thumb {
  background-color: var(--scrollbarColor);
  border-radius: 6px;
  border: 3px solid #ffffff00;
}

.bookmark-title {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--fg);
  margin: 0em 0em 0.35em 0em;
}
.bookmark {
  text-decoration: none;
  color: var(--secondaryFg);
  display: block;
  margin: 0.5em 0em;
}
.bookmark:hover {
  color: var(--fg);
}
